

.login-logo {
	width: 100%;
	height:120px;
	background-color: #fff;
}
.login-center{
	width: 1200px;
	margin: 0 auto;
}
.login-center .img-container{
	float: left;
	padding-top: 16px;
}
.login-center .img-container img{
	width: 213px;
	height: 71px;
}
.login-center .welcome {
	font-size: 24px;
	color: #3f3f4d;
	padding-left: 25px;
	padding-top: 52px;
	float: left;
}
.login-content {
	height: 560px;
	background-color: #4f9fff;
}
.login-img {
	float:left;
}
.login-box {
	float:right;
	padding: 35px;
	width: 320px;
	height: 380px;
	margin-top: 54px;
	background-color: #fff;
	box-shadow: 0 2px 2px #3D87DB;
}

.login-box .title h3 {
	font-size: 18px;
	color: #002222;
	float:left;
}
.login-box .title .vip-login {
	float: right;
	font-size: 15px;
}
.vip-login em {
	float:left;
}
.vip-login i {
	display: block;
	width: 6px;
	height: 10px;
	float:left;
	margin-left: 10px;
	margin-top: 1px;
}
.loginform {
	margin-top: 30px;
}
.loginform button:hover {
	cursor: pointer;
}
/*输入框共用样式*/
.re-div {
	margin-top:25px;
	position: relative;
}
.text-input {
	border:1px solid #d2d2d2;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #bcbfc8;
}
.input-icon {
	display: block;
	width: 29px;
	height: 23px;
	border-right: 1px solid #d2d2d2;
	position: absolute;
	left: 18px;
	top: 9px;
}
.input-width {
	width: 258px;
	padding-left: 60px;
}
input.input-width::-webkit-input-placeholder{
	color: #D0D2D9;
}
/*输入框共用样式结束*/
.trends-psw {
	width: 130px;
	padding-left: 60px;
	float:left;
	margin-right: 10px;
}
.getpsd-btn {
	border:none;
	background-color: #05aa58;
	color: #fff;
	height: 40px;
	width: 118px;
	font-size: 14px;
}
.forget-psd {
	margin-top: 20px;
	font-size: 14px;
	color: #3f3f4d;
	display: flex;
	align-items: center;
}
.remember-me {
	margin-right: 12px;
}
.forpasd {
	margin-left: auto;
}
.login-btn {
	width: 100%;
	height: 40px;
	background-color: #05aa58;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	border:none;
	margin: 20px 0 0 0;
	padding: 0;
	border-radius: 2px;
	cursor: pointer;
}
.no-user {
	text-align: center;
	font-size: 14px;
	padding-top: 18px;
}
.no-user a {
	color: #222222;
}
.parter {
	margin-top: 45px;
}
.parter h3 {
	text-align: center;
	position: relative;
	width: 100%;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	display: flex;
	align-items: center;
	color: #999;
	justify-content: space-between;
}
.parter h3 span.line {
	flex-basis: 88px;
	width: 88px;
	height: 1px;
	background: #999;
}
.parter a {
	display: block;
	width: 25%;
	float:left;
	position: relative;
	margin-top: 25px;
}
.parter a em {
	display: block;
	width: 28px;
	height: 28px;
	text-align: center;
	background-color: #ddd;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -14px;
}


.wechat-icon em {
	background: url(../images/wechat.jpg) no-repeat;
}
.qq-icon em {
	background: url(../images/qq.jpg) no-repeat;
}
.sina-icon em {
	background: url(../images/sina.jpg) no-repeat;
}
.airpay-icon em {
	background: url(../images/airpay.jpg) no-repeat;
}

.register-rt {
	float:right;
	margin-top: 80px;
	font-size: 14px;
}
.register-rt a {
	color: #036dde;
}

.register-content {
	height: 696px;
	background: url(../images/register_03.jpg) repeat-x;
	border-top:2px solid #05aa58;
}
.register-box {
	width: 320px;
	margin: 60px auto 0;
	height: 507px;
}
.registerform {
	width: 100%;
	margin-top:10px;
}

.register-box h2 {
	text-align: center;
	font-size: 18px;
	color: #002222;
}

.copyright-border {
	border-top: 1px solid #dcdcdc;
}

.rg-yzm {
	width:168px;
	float:left;
	border-right:none;
}
.yzm-btn {
	width: 90px;
	border:1px solid #d2d2d2;
	background-color: #f5f5f5;
	text-align: center;
	line-height: 38px;
	height: 40px;
	color: #666666;
	padding: 0;
	cursor: pointer;
}
.register-div {
	margin-top:7px;
}
.parter .register-span span {
	background-color: #f5f0f3;
}

.parter .register-span{
	display: flex;
	align-items: center;
}
.parter .register-span .line{
	flex: 1;
	height: 1px;
	background-color: #c0bdbf;
	align-self: center;
}
.parter .register-span .text{
	width: 140px;
	text-align: center;
	flex-basis: 140px;
}

