
/*
* swiper 图片展示
*/
.banner-swiper {
	position: relative;
	height: 450px;
	width: 100%;
}

/*swiper-container-1*/

.swiper-center-ctrl {
	position: absolute;
	width: 800px;
	height: 450px;
	left: 50%;
	margin-left: -410px;
	top:0;
}

.swiper-center-ctrl .swiper-button-next {
	right: 0;
	width: 28px;
	height: 53px;
	background: url(../images/next.png);
}
.swiper-center-ctrl .swiper-button-prev {
	left: 0;
	width: 28px;
	height: 53px;
	background: url(../images/prev.png);
}

/*swiper-container-2*/

.goods-banner {
	width: 360px;
	height: 479px;
	float:left;
	border-bottom:1px solid #eeeeee;
	overflow: hidden;
}

.hor-banner {
	width: 1200px;
	margin: 30px auto 0;
}
/*
* 首页产品推荐
*/
.section-5-recommend {
	width: 1200px;
	height: 520px;
	margin: 30px auto 0;
	border: solid #808080 10px;
	box-sizing: border-box;
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}
.recommend-menu {
	width: 100%;
	border-bottom: 2px solid #ea5252;
	height: 36px;
	position: relative;
}
.recommend-menu .signal {
	display: block;
	width: 81px;
	height: 56px;
	position: absolute;
	right: 3px;
	bottom: 0;
}

.recommend-menu .recommend-list {
	float: left;
	width: 151px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.recommend-menu .recommend-list:hover {
	cursor: pointer;
}
.recommend-menu .recommend-list.active {
	color: #fff;
}
.recommend-menu .recommend-list i {
	position: absolute;
	display: block;
	width:18px;
	height: 18px;
	top: 10px;
	left: 20px;
}

.recommend-goods {
	position: relative;
	width: 1198px;
	overflow: hidden;
	height: 240px;
	border:1px solid #ececec;
	border-top:none;
}
.for-border {
	position: absolute;
	left: 0;
	width:1200px;
}

/*
* 首页产品分类区域
*/

.section-6-zxyp {
	width: 1200px;
	margin: 30px auto 0;
	/* height:482px; */
}
.section-6-ylqx {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #71b234; */
	/* height:482px; */
}
.section-6-zyyp {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #f58905; */
	/* height:482px; */
}
.section-6-bjsp {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #02c6ba; */
	/* height:482px; */
}
.section-6-jjyp {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #9238c0; */
	/* height:482px; */
}
.section-6-zbsp {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #fc6912; */
	/* height:482px; */
}
.section-6-cryp {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #f9423d; */
	/* height:482px; */
}
.section-6-ykyy {
	width: 1200px;
	margin: 30px auto 0;
	/* border-top: 2px solid #f52c86; */
	/* height:482px; */
}



.goods-menu {
	width: 231px;
	float: left;
	position: relative;
	height:482px;
}
.goods-menu i {
	display: block;
	width: 236px;
	height: 69px;
	position: absolute;
	top:-16px;
	left: -5px;
	line-height:80px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 1px;
	text-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.42);
}
.goods-menu i em {
	padding:0 18px;

}

.goods-menu-list {
	position: relative;
	width: 229px;
	top: 53px;
	background-color: #fff;
	height:426px;
	border:1px solid #eeeeee;
	border-top:none;
	overflow: hidden;
}

.goods-menu-list .border-hidden {
	position: absolute;
	top:-1px;
	width: 231px;
}

.goods-menu-list .border-hidden a {
	border-right: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	width:114px;
	display: block;
	height: 47px;
	line-height:47px;
	float:left;
	text-align: center;
	font-size:13px;
}



















